@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gold-50: oklch(98.5% 0.02 100);
  --color-gold-100: oklch(96.7% 0.035 100);
  --color-gold-200: oklch(92.5% 0.07 100);
  --color-gold-300: oklch(87.1% 0.107 100);
  --color-gold-400: oklch(80.5% 0.14 100);
  --color-gold-500: oklch(73.2% 0.175 100);
  --color-gold-600: oklch(65.5% 0.18 100);
  --color-gold-700: oklch(54.1% 0.17 100);
  --color-gold-800: oklch(42.5% 0.13 100);
  --color-gold-900: oklch(27.2% 0.09 100);
  --color-gold-950: oklch(16% 0.06 100);
  --color-gold-950: oklch(0.01 0.005 123.39);
}

@layer base {
  body {
    @apply bg-slate-800 p-8 px-4 py-2 text-white;
  }
  h1 {
    @apply mb-2 text-3xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .form-control {
    @apply rounded-md border border-gray-600 bg-transparent px-4 py-3 text-white transition-colors outline-none placeholder:text-sm placeholder:italic invalid:text-pink-500 focus:border-sky-500 focus:invalid:border-pink-500 disabled:bg-gray-300/10 disabled:text-gray-500;
  }
}
