@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-800 p-8 px-4 py-2 text-white;
  }
  h1 {
    @apply mb-2 text-3xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .form-control {
    @apply rounded-md border border-gray-600 bg-transparent px-4 py-3 text-white transition-colors outline-none placeholder:text-sm placeholder:italic invalid:text-pink-500 focus:border-sky-500 focus:invalid:border-pink-500 disabled:bg-gray-300/10 disabled:text-gray-500;
  }
}
